{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}

    <main class="container p-4">
        <table class="table table-striped">

            <thead>
                <tr>
                    <th>Symbol</th>
                    <th>Shares</th>
                    <th>Price</th>
                    <th>Transacted</th>
                </tr>
            </thead>

            <tbody>
                {% if history %}
                    {% for hist in history %}
                    <tr>
                        <td>{{ hist.symbol }}</td>
                        <td>{{ hist.shares }}</td>
                        <td>{{ hist.pps | usd }}</td>
                        <td>{{ hist.date }}</td>
                    </tr>
                    {% endfor %}
                {% endif %}
            </tbody>

        </table>
    </main>

{% endblock %}
